* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#revealImage {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

#cover {
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    z-index: 1;
    background-color: #000;
    top: 0;
    transition: opacity 1s ease;
}

#icon{
    position: absolute;
    width: 2vw;
    height: 2vh;
    z-index: 2;
    opacity: 1;   /* change this to 0 */
}